
<!--js-->
<script src="/javascripts/jquery-3.1.1.min.js"></script>
<script src="/javascripts/bootstrap.min.js"></script>
<script src="/javascripts/scripts.js"></script>

<footer class="alert alert-info navbar-fixed-bottom">
    &copy; MMXVI | Justin Ellery
</footer>

</body>
</html>